.main {
    width: 100vw;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mulcontainer1 {

    display: flex;
    justify-content: center;
    height: 434px;

}

.mulcontainer2 {
    border-style: solid;
    border-color: none;
    width: 260px;
    
    margin-right: 30px;
    background-color:grey;
    border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
}

.detailsad {
    border-style: solid;
    border-color: white;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: white;
    margin: 0px;
    z-index: 1;
}

hr {
    width: 80%;
    margin: 0 auto;
}

.bttn {
    background-color: red;
    color: white;
    border-style: solid;
    border-color: red;
    border-radius: 4px;
    width: 200px;
    margin-bottom: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

h1,
h3,
button {
    font-family: 'Kanit', sans-serif;
}

.bttn:hover {
    cursor: pointer;
}

.small{
    background-color: white;
    margin-left: 102px;
    margin-top: -37px;
    box-shadow: 1px 1px 5px black;
    z-index: 2;
    position: absolute;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
}